* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #0061ff, #60efff);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.container {
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.container img {
    width: 180px; 
    height: 150px; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.container img:hover {
    transform: scale(1.1); 
}

#rock {
    width: 250px;
    margin-right: -10px;
}

#paper{
    height: 180px;
    width: 200px;
}

#scissor{
    margin-left: 20px;
}

#resetBtn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 60px;
    border-radius: 15px;
    background: linear-gradient(45deg, rgb(216, 116, 216), rgb(202, 61, 202));
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease; 
}

#resetBtn:active {
    transform: translate(-50%, -50%) scale(0.95); 
    background: linear-gradient(45deg, rgb(186, 86, 186), rgb(172, 41, 172)); 
}


#result {
    font-size: 6vmin;
    text-align: center;
    margin-top: 50px;
}

#score {
    font-size: 6vmin;
    text-align: center;
    position: relative;
    bottom: 150px;
}
